<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <monday>
        <breakfast>
            <item>Orange juice</item>
            <item>Toast</item>
            <item>Black Coffee</item>
        </breakfast>
        <lunch>
            <item>Tuna sandwich</item>
            <item>Apple</item>
            <dinner>
                <item>Hamburger steak</item>
                <item>Mached potatoes</item>
                <item>Green beans</item>
                <item>Jello</item>
            </dinner>
        </lunch>
    </monday>
</menu>